@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #141519;
  color: white;
}

.button {
    text-align: center;
    font-size: 16px;
    width: 177px;
    height: 44px;
    line-height: 44px;
    border-radius: 50px;
    background-color: #41AC9B;
    color: white;
}

h2 {
    font-family: 'Josefin Slab', serif;
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .05em;
}

p {
    font-family: 'Poppins', sans-serif;
}

.bg-grey {
    background-color: #202127;
}

.top-bar {
    background-color: #141519;
    font-family: 'Josefin Slab', serif;
    .nav{    
        padding-top: 30px;
        padding-bottom: 40px;
        ul {
            margin-bottom: 0px;
        }
        a {
            margin-left: 25px;
            margin-right: 25px;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            .home {
                font-size: 20px;
            }
            .red {
                color: #F84338;
            }
        }
    }
    .social {
        padding-top: 25px;
        text-align: right;
        p {
            font-family: 'Josefin Slab', serif;
        }
        li {
            display: inline-block;
            a {    
                margin-top: 15px;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 18px; 
                .fa-youtube-play {
                    color: #E31A0D;
                }
                .fa-instagram {
                    color: #762f7c;
                }
                .fa-twitter{
                    color: #6c9adc;
                }
                .fa-facebook-official{
                    color: #3f4e83;
                }
            }
        }
    }

}


.page-title {
    max-height: 277px;
    text-align: center;
    padding-top: 100px;
    p {
        display: inline-block;
        &.overline {
            margin-top: 100px;
        }
        &.underline {
            margin-bottom: 100px;
            border-bottom: solid 7px #f84338;
            width: 83px;
            height: 12px;
        }
    }
}

.section-title {
    text-align: center;
    p {
        display: inline-block;
        &.overline {
        }
        &.underline {
            border-bottom: solid 7px #f84338;
            width: 83px;
            height: 12px;
        }
    }
}

.page-content {
    .event {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #494D5A;
        font-family: "Poppins", sans-serif;
        > div {
            margin-top: 50px;
            margin-bottom: 50px;
            span {
                font-size: 18px;
                letter-spacing: .05em; 
            }
        }

        .fa-calendar {
            font-size: 17px;
            margin-right: 15px;
        }
        .details {
            color: #41AC9B;
        }
    }
    .book-list {
        >div >div{
            top: -20px;
        }
        >div:nth-child(odd) >div{
            text-align: right;
            padding-right: 70px;
        }
        >div:nth-child(even) >div{
            text-align: left;
            padding-left: 70px;
        }
        .book {
            p {
                font-family: 'Josefin Slab', serif;
                margin-top: 40px;
                font-size: 24px;
                font-weight: bold;
                line-height: 30px;
            }
        }
    }
    .detail-data {
        background-color: #202127;
        padding-top: 100px;
        .detail-title-description{
            padding-left: 50px;
        }

        .section-title {
            text-align: left;
        }
        .book {
            text-align: center;
            padding-right: 50px;

            .button {
                margin: 50px auto 50px auto;
            }
        }

        .detail-description {
            line-height: 50px;
            font-size: 18px;
            color: #e0e0e0;
            width:540px;
            margin-bottom: 90px;
        }
    }
    .detail-reviews{
        .section-title {
            margin-top: 100px;
            margin-bottom: 5px;
        }
        .reviews-grid {
            color: #95989A;
            .review{
                text-align: center;
                margin: 70px auto;
                font-size: 20px;
                width: 462px;
                .review-text {
                    
                    padding-bottom: 30px;
                    font-size: 18px;
                    margin-right: 0;
                }
                .review-author {
                    border-top: solid 1px #95989A;
                    display: inline-block;
                    padding-top: 30px;
                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
    .books-home {
        background-color: #202127;
        .container {
            position: relative;
            top: -75px;
            .row {
                margin-top: 20px;
                padding-bottom: 100px;    
                .books-home-text {
                    padding-top: 175px;
                    .section-title {
                        text-align: left;
                    }
                    .detail-description {
                        line-height: 50px;
                        font-size: 18px;
                        color: #e0e0e0;
                        margin-bottom: 50px;
                    }
                }
                .books-home-cover {
                }
            }
        }
        .see-all {
            margin-top: -75px;
        }
    }
    .about {
        .container {
            position: relative;
            top: -20px;
            .about-description {
                line-height: 50px;
                font-size: 18px;
                color: #e0e0e0;
                width:540px;
                margin-bottom: 55px;
            }
            .form-group{
                font-size: 16px;
                color: #41AC9B;
                margin-bottom: 170px;
                .input-group {
                    input {
                        height: 60px;
                    }
                    .button {
                        height: 60px;
                        width: 107px;
                        line-height: 60px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 5px;
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
    .about-page {
        .container {
            .about-description {
                padding-top: 170px;
            }
        }
    }
    .about-home {
        .container {
            .section-title{
                text-align: left;
                padding-top: 100px;
            }
            .about-description {
                padding-top: 40px;
            }
        }
    }
    .photos-list{
        .subtitle {
            text-align:center;
            margin-bottom: 100px;
        }
        .photos {
            padding-bottom: 100px;
            img{
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
    .subscribe-home {
        .subtitle {
            font-size: 16px;
            padding-bottom: 70px;
            text-align: center;
            color: #e0e0e0;
        }
        .form-group{
            font-size: 16px;
            color: #41AC9B;
            width:540px;
            margin-bottom: 55px;
            margin-left: auto;
            margin-right: auto;
            .input-group {
                input {
                    height: 60px;
                }
                .button {
                    height: 60px;
                    width: 107px;
                    line-height: 60px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 5px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
    .contacts-list {
        padding-bottom: 100px;
        .contact {
            text-align: center;
            .title {
                font-family: 'Josefin Slab', serif;
                font-size: 30px;
            }
            .name {
                color: #95989a;
                font-size: 16px;
            }
            .email {
                color: #e0e0e0;
                font-size: 16px;
            }  
        }
    }
    .contacts-page {
        padding-top: 100px;
        .contact {
            text-align: center;
            .title {
                font-family: 'Josefin Slab', serif;
                font-size: 30px;
            }
            .name {
                color: #95989a;
                font-size: 16px;
            }
            .email {
                color: #e0e0e0;
                font-size: 16px;
            }  
        }
    }
}

.video-list {
    background-color: #202127;
    padding-bottom: 100px;
    .video {
        img {
            width: 373px;
            height: 230px;
        }
    }
}
        .fa-times {
            display:none;
        }

    #modal{
        .fa-times {
            display: inline-block;
            position: absolute;
            top: -50px;
        }
    }


.carousel {
    width: 100%;
    height: 388px;
    margin: 0 auto;
    padding: 40px;
    background-color: #202127;
    .slick-slider {
        .slick-prev, .slick-next {
            top: 278%;
        }
    }
    .slick-dots {
        position: absolute;
        top: 300px;
        li.slick-active button:before {
            content: "• ";
            color: #f84338;
            opacity: 1;
        }
        li:before {
            content: "• ";
            color: white;
        }
    }
}

.see-all {
    height: 60px;
    background-color: #505050;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 16px;
    color: #e0e0e0;
    .fa-chevron-right {
        font-size: 13px;
    }
}




// Caitlyn Doughty CSS


p.overline{
    display: none;
}
